<nav class="navbar navbar-expand-lg navbar-dark  w-100" style="background-color: #292929;">
  <a class="navbar-brand title" href="#" routerLink="/home">{{title}}
    <i class="fas fa-store logo" [style.background-color]="color" [style.border-color]="color"></i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <!--Dropdown-->
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Gestión de Datos
        </a>
        <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/shops/page/0">Tiendas</a>
          <a class="dropdown-item" href="#" routerLink="/clients/page/0">Clientes</a>
          <a class="dropdown-item" href="#" routerLink="/orders/page/0">Pedidos</a>
          <a class="dropdown-item" href="#" routerLink="/products/page/0">Productos</a>
          <a class="dropdown-item" href="#" routerLink="/suppliers/page/0">Proveedores</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" routerLink="/shoporg">OrgTiendas</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/tiendas">Tiendas</a>
      </li>
      
      <li class="nav-item active  ml-lg-auto text-center d-lg-none">
        <a class="nav-link cart"  href="#" routerLink="/makeorder"><i class="fas fa-cart-plus"></i></a>
      </li>

    </ul>
  </div>

  <div class="navbar-nav text-center d-none d-lg-block">
    <a class="nav-link cart"  href="#" routerLink="/makeorder"><i class="fas fa-cart-plus"></i></a>
</div>

</nav>


