.logo{
  border-radius: 100%;
  border: 5px solid var(--main-bg-color);
  background-color: var(--main-bg-color);
}

.c1{
  position: relative;
  z-index: 2000;
}

.c2{
  z-index: 1200;
}

a:active{
  background-color: ghostwhite;
}