.logo{
  border-radius: 100%;
  border: 5px solid var(--main-bg-color);
  background-color: var(--main-bg-color);
  color:#292929;
}


a:active{
  background-color: rgb(29, 29, 29);
  border-radius: 5px;
}

.cart{
  border: 1px solid white;
  border-radius: 5px;
  padding: 7.4px 12px !important;

}

