<nav class="navbar navbar-expand-lg navbar-light bg-light w-100 c1">
  <a class="navbar-brand title" href="#" routerLink="/home">{{title}}
    <i class="fas fa-store logo" [style.background-color]="color" [style.border-color]="color"></i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <!--Dropdown-->
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Gestión de Datos
        </a>
        <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/shops/page/0">Tiendas</a>
          <a class="dropdown-item" href="#" routerLink="/clients/page/0">Clientes</a>
          <a class="dropdown-item" href="#" routerLink="/orders/page/0">Pedidos</a>
          <a class="dropdown-item" href="#" routerLink="/products/page/0">Productos</a>
          <a class="dropdown-item" href="#" routerLink="/suppliers/page/0">Proveedores</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" routerLink="/shoporg">OrgTiendas</a>
        </div>
      </li>


      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/shoporg">Tiendas</a>
      </li>
      <li class="nav-item active ml-sm-2 text-center">
        <a class="nav-link header-btn" [style.background-color]="color" href="#" routerLink="/makeorder"><i class="fas fa-cart-plus"></i></a>
      </li>
    </ul>
  </div>
</nav>

<div class = "footer rounded-top text-center fixed-top c2 d-none d-lg-block" style="background-color: #f8f9fa; height: 56.6px !important;">
  <div class = "container py-2">
      <p class = "my-2 title">
          &copy;Shop-Online
      </p>
  </div>
</div>
