<div class="container-lg">
<div *ngIf="!filterActive" class="title mt-2 col-12 bg-white pt-1 pb-1">Clientes
  <i class="fas fa-search float-right lupa" title="Buscar" (click)='filterActive = true'></i>
</div>

<div class="row mt-2" *ngIf="filterActive">
  <div class="col-sm-10">
    <div class="form-group input-group">
      <input type="text" class="form-control" name="filter" [(ngModel)]="filterPost" placeholder="Buscar cliente..."  style="font-family: georgia,garamond,serif; font-style: italic;">
      <div class="input-group-append" title="Eliminar Filtro"   (click)='noFilter();' style="cursor: pointer;">
        <span class="input-group-text nofilter">X</span>
      </div>
    </div>
  </div>
  <div class="col-sm-2" *ngIf="filterActive">
    <button class="zoom btn btn-rounded btn-edit w-100" type="button"(click)='findClientByName(filterPost)'>
      Buscar
    </button>
  </div>
</div>

<div class="table-responsive mt-2">
  <table class="table table-sm">
    <thead class="thead-dark">
     <!--  <i class="fas fa-search float-right"></i> -->
      <tr>
        <th scope="col" class="text-center column1"  [routerLink]="['/client/form']"><i class="fas fa-plus-square plus" title="Añadir Tienda"></i></th>
        <th scope="col">Nombre</th>
        <th scope="col">Edad</th>
        <th scope="col">Dirección</th>
        <th scope="col">Género</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients; let i = index">
        <th scope="row" class="edit" title="Editar {{client.clientName}}" [routerLink]="['/client/form', client.idClient]"><i class="fas fa-pen-square"></i></th>
        <td>{{client.clientName}}</td>
        <td>{{client.age}}</td>
        <td>{{client.direction}}</td>
        <td class="text-capitalize">{{client.gender.toLowerCase()}}</td>
      </tr>
    </tbody>
  </table>
  <app-client-paginator *ngIf="clientPaginator && searched === ''" [clientPaginator]="clientPaginator"></app-client-paginator>
</div>
</div>