<div class="justify-content-center align-items-center">
  <div class="row my-4" [@imgState]='stateName' [@imgTransform]='imgPosition'
  (@imgTransform.start)='logger($event)' (@imgTransform.done)='logger($event)'
>
    <img src="https://i.pinimg.com/736x/db/78/dc/db78dca6680118a0f38c8aab5a06b87d.jpg" alt="gato" class="mx-auto d-block">
  </div>

  <div class="row">
    <div class="row btn-group mx-auto d-block" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" (click)='imgPosition = "translate"'>Translate</button>
      <button type="button" class="btn btn-secondary" (click)='imgPosition = "rotate"'>Rotate</button>
      <button type="button" class="btn btn-secondary" (click)='toggle()'>Show</button>
      <button type="button" class="btn btn-secondary"  (click)='imgPosition = "scale"'>Scale</button>
    </div>
  </div>
</div>