<!--Container 1-->
<div class="justify-content-center align-items-center" [@showContainer]='containerState'>

  <div class="row my-4" [@imgState]='stateName' [@imgTransform]='position' [@imgColor]='color'
  (@imgTransform.start)='logger($event)' (@imgTransform.done)='logger($event)'>
    <img src="https://i.pinimg.com/736x/db/78/dc/db78dca6680118a0f38c8aab5a06b87d.jpg" alt="gato" class="mx-auto d-block">
  </div>

  <div class="row">
    <div class="row btn-group mx-auto d-block" role="group">
      <button type="button" class="btn btn-secondary" (click)='changePosition("translate")'>Translate</button>
      <button type="button" class="btn btn-secondary" (click)='changePosition("rotate")'>Rotate</button>
      <button type="button" class="btn btn-secondary" (click)='show = !show'>Show</button>
      <button type="button" class="btn btn-secondary"  (click)='changePosition("scale")'>Scale</button>
      <button type="button" class="btn btn-secondary"  (click)='changePosition("null"); show = true'>Reset</button>
    </div>
  </div>
  
  <div class="row mt-2">
    <div class="row btn-group mx-auto d-block" role="group">
      <button type="button" class="btn btn-secondary" (click)='color = "blue"'>Blue</button>
      <button type="button" class="btn btn-secondary" (click)='color = "purple"'>Purple</button>
      <button type="button" class="btn btn-secondary" (click)='color = "pink"'>Pink</button>
      <button type="button" class="btn btn-secondary"  (click)='color = "green"'>Green</button>
      <button type="button" class="btn btn-secondary"  (click)='color = "yellow"'>Yellow</button>
      <button type="button" class="btn btn-secondary"  (click)='color = "original"'>Original</button>
    </div>
  </div>


<!--Container 2-->
<div class="justify-content-center align-items-center container2" [@showContainer2]='containerState'>
  <div class="row my-2" *ngFor="let cat of cats; let i = index">    
    <div  class="mx-auto d-inline-block">
      
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/assets/img/cat/cat ({{i + 1}}).jpg" class="card-img" alt="..." id="gato">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{cat}}</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!--Container Controller-->
<div class="row controller fixed-top">    
  <button type="button" class="btn btn-info mx-auto d-inline-block" (click)='show = true; showContainer = !showContainer'>
    <span *ngIf="showContainer">Next Test <i class="fas fa-step-forward"></i></span>
    <span *ngIf="!showContainer"><i class="fas fa-step-backward"></i> Previus Test</span>
  </button>
</div>