<!-- <p-button label="fillProducts" icon="pi pi-check" iconPos="left" (click)='fillProducts()'></p-button>
<p-button label="fillShops" icon="pi pi-check" iconPos="left" (click)='fillShops()'></p-button> -->
<p-button *ngIf="viewButton" label="Ver" (click)='generateTree()'></p-button>

<div class="pretree"></div>

<p-organizationChart [value]="data"
    styleClass="company">
    <ng-template let-node pTemplate="root">
        <span class="title_bold"> Tiendas <i class="fas fa-store"></i></span>
    </ng-template>
    <ng-template let-node pTemplate="shop">
        <span  class="title">{{node.label}}</span>
        <p-tree [value]="productos"   class="tree"></p-tree>
    </ng-template>
    <ng-template let-node pTemplate="product">
        <span  class="title_thin">{{node.label}}</span>
    </ng-template>
</p-organizationChart>

<div class="pretree"></div>

<p-tree [value]="tiendasYproductos"   class="tree"></p-tree>

<!-- <p-tree [value]="data" layout="horizontal"  class="tree"></p-tree> -->