<!-- <p-carousel [value]="products">
  <ng-template let-item pTemplate="item">
      Content to display
  </ng-template>
</p-carousel> -->

<div style="height: 70px;"></div>

<div class="container-lg">

<p-carousel headerText="Catálogo de Productos" [value]="products">
  <ng-template let-product pTemplate="product">

    <div class="row mt-2">
      <div class="col-1"></div>
      <div class="col-4 m-auto"><img src="/assets/img/products/{{product.productName.toLowerCase()}}.ico" width="60"></div>
    </div>
    
    <div class="row">
      <div class="col-12 text-center">
        <span>{{product.description}}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <span>{{product.price}} €</span>
      </div>
    </div>

    
      <button type="button" pButton icon="pi pi-image" (click)="productSeleted(product)"></button>
  

  </ng-template>
</p-carousel>



</div>