<mat-vertical-stepper [linear]="false" #stepper class="mt-3 mb-3">
  <!--Primer paso-->
  <mat-step [stepControl]="firstFormGroup" label="Step 1" state="person">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Eliga el cliente</ng-template>
  
          <mat-form-field appearance="fill">
            <mat-label>Cliente</mat-label>
           <mat-select [(ngModel)]="order.client" name="cliente"  [ngModelOptions]="{standalone: true}" required>
              <mat-option *ngFor="let client of clients" [value]="client">
                {{client.clientName}}
              </mat-option>
            </mat-select>
          </mat-form-field>


      <div>
        <button *ngIf="order.client" mat-button matStepperNext class="stepper_btn">Siguiente</button>
        <button *ngIf="!order.client" mat-button matStepperNext disabled class="stepper_btn">Siguiente</button>
      </div>
      
    </form>
  </mat-step>

  <!--Segundo Paso-->
  <mat-step [stepControl]="secondFormGroup" label="Step 2" state="store">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Eliga la tienda</ng-template>

      <mat-form-field appearance="fill">
        <mat-label>Tienda</mat-label>
        <mat-select [(ngModel)]="order.shop" name="tienda" [ngModelOptions]="{standalone: true}" required>
          <mat-option *ngFor="let shop of shops" [value]="shop">
            {{shop.shopName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious class="stepper_btn">Volver</button>
        <button *ngIf="order.shop" mat-button matStepperNext class="stepper_btn">Siguiente</button>
        <button *ngIf="!order.shop" mat-button matStepperNext disabled class="stepper_btn">Siguiente</button>
      </div>
    </form>
  </mat-step>

  <!--Tercer Paso-->
  <mat-step [stepControl]="thirdFormGroup" label="Step 3" state="format_list_numbered">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Seleccione los productos</ng-template>

      <p-pickList [responsive]="true" [source]="products" [target]="productsSelected" (onMoveToTarget)="printProductsSelected()">
        <ng-template let-product pTemplate="product">
            <div class="ui-helper-clearfix">
                <img src="/assets/img/products/{{product.productName.toLowerCase()}}.ico" style="display:inline-block;margin:2px 0 2px 2px" width="40" id="product-img">
                <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{product.description}} - {{product.price}} €</div>
            </div>
        </ng-template>
      </p-pickList>

      <div>
        <button mat-button matStepperPrevious class="stepper_btn">Volver</button>
        <button *ngIf="productsSelected.length > 0" mat-button matStepperNext class="stepper_btn">Siguiente</button>
        <button *ngIf="productsSelected.length <= 0" mat-button matStepperNext disabled class="stepper_btn">Siguiente</button>
      </div>
    </form>
  </mat-step>

  <!--Cuarto y último paso-->
  <mat-step label="Step 4" state="done_outline">
    <ng-template matStepLabel> Finalizar Pedido</ng-template>
    <div class="row">
      <div class="col-sm-6" *ngIf="order.client"><span class="font-weight-light">Cliente: </span>{{order.client.clientName}}</div>
      <div class="col-sm-6" *ngIf="order.shop"><span class="font-weight-light">Tienda: </span>{{order.shop.shopName}}</div>
      <div class="col-sm-6" *ngIf="order.products"><span class="font-weight-light">Número de productos: </span>{{order.products.length}}</div>
      <div class="col-sm-6 mb-4" *ngIf="order.products"><span class="font-weight-light">Importe total: </span>{{totalPrice}} €</div>
   </div>
    <div>
      <button mat-button matStepperPrevious class="stepper_btn">Volver</button>
      <button mat-button class="stepper_btn" (click)="stepper.reset(); resetearStepper()">Resetear</button>

      <button *ngIf="order.products && order.client && order.shop" mat-button class="order_btn float-right heartbeat" title="Realizar Pedido" (click)='addOrder()'><i class="fas fa-shopping-cart"></i></button>
      <button *ngIf="!order.products || !order.client || !order.shop" mat-button class="order_btn float-right" disabled title="Debe rellenar todos los campos"><i class="fas fa-shopping-cart"></i></button>

    </div>
  </mat-step>
</mat-vertical-stepper>