<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>

<mat-vertical-stepper [linear]="isLinear" #stepper>
  <!--Primer paso-->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel> <i class="fas fa-user-alt"></i> Eliga el cliente</ng-template>
  
          <mat-form-field appearance="fill">
            <mat-label>Juana</mat-label>
            <mat-select [(ngModel)]="order.client" name="cliente" [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let client of clients" [value]="client">
                {{client.clientName}}
              </mat-option>
            </mat-select>
          </mat-form-field>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
      
    </form>
  </mat-step>

  <!--Segundo Paso-->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel> <i class="fas fa-store-alt"></i> Eliga la tienda</ng-template>

      <mat-form-field appearance="fill">
        <mat-label>Asos</mat-label>
        <mat-select [(ngModel)]="order.shop" name="tienda" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let shop of shops" [value]="shop">
            {{shop.shopName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!--Tercer Paso-->
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel> <i class="fas fa-list-ol"></i> Seleccione los productos</ng-template>



      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!--Cuarto y último paso-->
  <mat-step>
    <ng-template matStepLabel> <i class="fas fa-list-ol"></i> Selecciona los productos</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
