<div class="container-lg mt-3 text-center">
  <h2 class="title"> <i class="fas fa-circle circle float-left" [style.color]="shop.color"></i> {{shop.shopName}} <i class="fas fa-circle circle float-right" [style.color]="shop.color"></i></h2>


<p-carousel [value]="products" circular="circular" autoplayInterval="3000" numVisible="4" headerText="Productos" responsive="true">
  <ng-template let-product pTemplate="product">

    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <img src="/assets/img/products/{{product.productName.toLowerCase()}}.ico" width="60px" style="opacity: 0.85;">
      </div>
    </div>

    
        <div class="row title">
          <div class="col-lg-6">{{product.productName}}</div>
        </div>


    
  </ng-template>
</p-carousel>
</div>