.f-25{
  font-size: 25px !important;
}

.f-20{
  font-size: 17.5px !important;
}


.logo{
  border-radius: 100%;
  border: 5px solid white;
  background-color: white;
}

.heart{
  text-shadow: 1px 0px #000000;
}

.return{
  background-color: #292929;
  color: white;
  opacity: 0.8;
}

.return:hover{
  cursor: pointer;
  opacity: 1;
}

.card{
  background-color: #292929;
  color: white;
}

.card:hover{
  background-color: #2929295e;
}