<form #supplierForm="ngForm">
  <div class="mt-2 container">

    <div class="card">

      <!--Header-->
      <div class="card-header">
        <span *ngIf="!supplier.idSupplier" >Creando Proveedor</span>
        <span *ngIf="supplier.idSupplier" >Editando Proveedor</span>
        <button type="button" class="close" aria-label="Close" title="Volver" (click)='return()'>
          <span aria-hidden="true" class="">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="card-body">

            <div class="form-group row">
              <label for="username" class="col-sm-2 col-form-label">Nombre</label>
              <div class="col-sm-10 input-group">
                <input type="text" class="form-control" [(ngModel)]="supplier.name" name="username" required minlength="3" #user_name="ngModel">
                <div class="input-group-append" *ngIf="user_name.invalid && (user_name.dirty || user_name.touched)">
                  <span class="input-group-text alert-danger" *ngIf="user_name.errors.required || user_name.errors.minlength">X</span>
                </div>
              </div>
            </div>

      </div>

      <!--Footer-->
      <div class="card-footer">
        <button *ngIf="supplier.idSupplier" class="btn btn-edit ml-1" type="button" title="Confirmar Cambios" (click)='modifySupplier()' [disabled]="!supplierForm.form.valid">Editar</button>
        <button *ngIf="!supplier.idSupplier" class="btn btn-edit ml-1" type="button" title="Crear Proveedor" (click)='addSupplier()' [disabled]="!supplierForm.form.valid">Crear</button>
        <button *ngIf="supplier.idSupplier" class="btn btn-edit" type="button" title="Borrar Proveedor" (click)='deleteSupplier(supplier)'><i class="fas fa-trash"></i></button>
      </div>

    </div>


  </div>
  </form>


