@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

html{
  position: relative;
  min-height: 100%;
}

body{
  --main-bg-color: rgb(230, 214, 223);
  padding-bottom: 5%;
  /*background: linear-gradient(rgb(199, 212, 226), rgb(198, 210, 224));*/
  background: linear-gradient(var(--main-bg-color), var(--main-bg-color));
 /* background-image:url("./assets/img/img5.jpg");*/
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'PT Serif', serif;
}

.plus:hover, .edit:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.edit{
  color: rgba(0, 0, 0, 0.342);
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.btn-edit{
  background-color: var(--main-bg-color) !important;
  float: right;
  border: 3px solid white !important;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.616) !important;
}

.btn-edit:hover, .order_btn:hover{
  transform: scale(1.05);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.418);
}

.lupa{
  background-color: white;
  color: black;
  padding: 2px;
  border-radius: 2px;
  margin-top: 2.5px;
  margin-left: 5px;
  cursor: pointer;
}

.lupa:hover{
  transform: scale(1.05);
}

.title{
  font-family: 'Playfair Display', serif;
}

.nofilter{
  background-color: #b5ecf0;
  color: #011132;
  border-left: 2px solid #011132;
}

.nofilter:hover{
  background-color: #b5ecf0b7;
}

/*Paginators Commons Style*/

.page-item.disabled .page-link {
  color: #9b9fa3 !important;
}

.page-item .page-link {
  color: #343a40;
  background-color:#ffffffc2;
}

.page-item:hover:not(.active) .page-link:hover {
  color: #1d1d1d;
  background-color: #ffffff;
}

ul {
  margin-bottom: 0;
}

a {
  color: rgb(29, 29, 29);
}

a:hover {
  color: black;
}

.stepper_btn{
  background-color: var(--main-bg-color);
  margin-left: 5px !important;
}

.order_btn{
  background-color: var(--main-bg-color);
  border-radius: 3px !important;
}

.header-btn{
  background-color: var(--main-bg-color);
  border-radius: 4px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}



.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}