@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;800&display=swap');
html{
  position: relative;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  height: 100%;
  overflow-x: auto !important;
  overflow-y: auto;
}


body { margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

body{
  --main-bg-color: rgb(230, 214, 223);
  padding-bottom: 5%;
  background-color: var(--main-bg-color) !important;
/* background: url("/assets/img/fondo3.jpg");*/
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'PT Serif', serif;
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content {
  padding: 0;
  border: 1px solid transparent;
  background-color: rgba(230, 214, 223, 0.329) !important;
}

body .ui-tree:hover .ui-tree-container:hover .ui-treenode:hover .ui-treenode-content:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.plus:hover, .edit:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.edit{
  color: rgba(0, 0, 0, 0.342);
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.btn-edit{
  background-color: var(--main-bg-color) !important;
  float: right;
  border: 3px solid white !important;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.616) !important;
}

.btn-edit:hover, .order_btn:hover{
  transform: scale(1.05);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.418);
}

.btn-edit-disabled{
  background-color: var(--main-bg-color) !important;
  float: right;
  border: 3px solid white !important;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.616) !important;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.418);
  cursor: default !important;
}


.lupa{
  background-color: white;
  color: black;
  padding: 2px;
  border-radius: 2px;
  margin-top: 2.5px;
  margin-left: 5px;
  cursor: pointer;
}

.lupa:hover{
  transform: scale(1.05);
}

.title{
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

.title_bold{
  font-family: 'Playfair Display', serif;
  font-weight: 800;
}

.title_thin{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.nofilter{
  background-color: #b5ecf0;
  color: #011132;
  border-left: 2px solid #011132;
}

.nofilter:hover{
  background-color: #b5ecf0b7;
}

/*Paginators Commons Style*/

.page-item.disabled .page-link {
  color: #9b9fa3 !important;
}

.page-item .page-link {
  color: #343a40;
  background-color:#ffffffc2;
}

.page-item:hover:not(.active) .page-link:hover {
  color: #1d1d1d;
  background-color: #ffffff;
}

ul {
  margin-bottom: 0;
}

a {
  color: rgb(29, 29, 29);
}

a:hover {
  color: black;
}

.stepper_btn{
  background-color: var(--main-bg-color);
  margin-left: 5px !important;
}

.order_btn{
  background-color: var(--main-bg-color);
  border-radius: 3px !important;
}

.header-btn{
  background-color: var(--main-bg-color);
  border-radius: 4px;
}

.soft-box-shadow, .ui-carousel{
  box-shadow: 3px 3px 3px 0px #0000003d;
}

.ui-carousel-header-title{
  font-family: 'Playfair Display', serif !important;
  font-weight: 800 !important;
  font-size: 20px !important;
}

.ui-carousel-header{
  margin: auto !important;
  background-color: white !important;
  padding: 10px !important;
  text-align: center !important;
}


.ui-carousel-viewport{
}

tr:hover{
  background-color: rgba(245, 245, 245, 0.226);
}

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}



.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in, .container, .container-lg {
	        animation: fade-in 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}