@import url('https://fonts.googleapis.com/css2?family=Asset&family=Playfair+Display:wght@800&display=swap');

img{
  width: 50vw;
  display: inline-block;
}

.titleDiv{
  position: relative;
  z-index: 2000;
  width: 50vw;
  display: inline-block;
  margin-left: -13.7vw;
  font-family: 'Playfair Display', serif;
  font-size: 80px !important;
  font-weight: 800 !important;
  /*color: white;*/

  color: transparent;
  background: url("/assets/img/home.jpg") repeat;
  background-clip: text;
  /*-webkit-background-clip: text;*/
}

#guion{
  background-image: linear-gradient(90deg, white, #ada4a4);
  /* -webkit-background-clip: text; */
  background-clip: text;
  color: transparent;
}