<div class="container text-center mt-5 title" *ngIf="inHome">
<h2>Bienvenido a:</h2>
  <h1>Shop-Online</h1>
  <i class="fas fa-store w-100"></i>
  <button mat-button color="accent" routerLink="/makeorder">Realizar Pedido</button> <br>
  <button mat-button color="accent" routerLink="/shoporg">Ver organización de tiendas</button>
</div>

<!-- 
<mat-tab-group *ngIf="!inHome">
  <mat-tab label="{{shop.shopName}}" *ngFor="let shop of shops"> 


    <mat-selection-list #shops>
      <mat-list-option *ngFor="let product of products" [value]="product" title="{{product.price}} €">
        {{product.productName}}
      </mat-list-option>
    </mat-selection-list>

    <div class="example-button-container">
      <button mat-mini-fab  color='black'aria-label="Example icon button with a plus one icon">
        <mat-icon class="mb-2">shopping_cart</mat-icon>
      </button>
    </div>


  </mat-tab>
</mat-tab-group> -->