<ul *ngIf="pages?.length > 0" class="pagination">

  <li [ngClass]="orderPaginator.number > 0?'page-item':'disabled page-item'">
      <a class="page-link" [routerLink]="['/orders/page', orderPaginator.number - 1]">&laquo;</a>
  </li>

  <li [ngClass]="orderPaginator.first?'disabled page-item':'page-item'">
      <a class="page-link" [routerLink]="['/orders/page', 0]">
          Primera
      </a>
  </li>
  
  <li class="page-item" *ngFor="let page of pages" [ngClass]="page - 1 == orderPaginator.number?'active':''">
      <span class="page-link" *ngIf="page - 1 == orderPaginator.number">{{ page }}</span>
      <a class="page-link" *ngIf="page - 1 != orderPaginator.number" [routerLink]="['/orders/page', page - 1]">{{ page }}</a>
  </li>

  <li [ngClass]="orderPaginator.last?'disabled page-item':'page-item'">
      <a class="page-link" [routerLink]="['/orders/page', orderPaginator.totalPages - 1]">
          Última
      </a>
  </li>

  <li [ngClass]="orderPaginator.number < orderPaginator.totalPages - 1?'page-item':'disabled page-item'">
      <a class="page-link" [routerLink]="['/orders/page', orderPaginator.number + 1]">&raquo;</a>
  </li>

</ul>